<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

	<!-- Parameters used by tests at run time -->
	<TestRunParameters>

		<Parameter name = "bigFile"	value = "TestBigFile.pdf" />
		<Parameter name = "goodpath"	value= "/Testing" />
		<Parameter name = "goodFile"	value= "GoodFile.txt" />
		<Parameter name = "badPath"	value ="c:\foo" />

	</TestRunParameters>


	<RunConfiguration>
		<ResultsDirectory>.\Testing</ResultsDirectory>

		<!-- Path to Test Adapters -->
		<TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>

		<!-- TestSessionTimeout was introduced in Visual Studio 2017 version 15.5 -->
		<!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
		<TestSessionTimeout>10000</TestSessionTimeout>

		<!-- true or false -->
		<!-- Value that specifies the exit code when no tests are discovered -->
		<TreatNoTestsAsError>true</TreatNoTestsAsError>
	</RunConfiguration>



</RunSettings>
