<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name = "bigFile"	value = "Testing\BigFile.pdf" />
		<Parameter name = "goodFile"  value = "Testing\GoodFile.txt" />
	</TestRunParameters>

	<RunConfiguration>
		<!-- <ResultsDirectory>.\Testing</ResultsDirectory> -->
		<TestSessionTimeout>10000</TestSessionTimeout>
		<TreatNoTestsAsError>true</TreatNoTestsAsError>
	</RunConfiguration>

</RunSettings>